.header {
    .navbar {
        background: @background;

        .navbar-brand {
            font-family: Roboto-Bold;
        }

        a {
            color: @color !important;
        }
    }

    .slide {
        .carousel-inner {
            .carousel-item {
                img {
                    width: 100% !important;
                    height: 600px;
                    object-fit: cover
                }
            }
        }
    }
}
