.profile__title h1 {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}
.profile__title h6 {
  font-style: italic;
  text-align: right;
  padding: 0.5rem;
}
.profile__title h6 span {
  color: #05fb24;
}
.profile__infor .form-group {
  width: 100%;
}
.profile__infor .form-group label {
  font-weight: bold;
  padding: 0.6rem 0;
  margin: 0;
}
.profile__infor .form-group input {
  background: transparent;
  border: none;
  border-radius: unset;
  border-bottom: 1px solid #000000;
  color: #000000;
  padding-left: 0.5rem;
  width: 100%;
}
.profile__infor .form-group input:hover {
  cursor: pointer;
}
.profile__infor .form-group input::placeholder {
  color: #000000;
}
.profile__infor .form-group .avatar {
  margin-left: 1rem;
}
.profile__infor .form-group .file-upload {
  padding: 0.5rem 0;
  border-bottom: 1px solid #000000;
  margin: 0;
}
.profile__infor .form-group .file-upload .custom-file {
  padding-left: 1.5rem;
}
.profile__infor .form-group .file-upload .custom-file input {
  display: none;
}
.profile__infor .form-group .file-upload .custom-file label {
  font-weight: unset;
  border: none;
  background: transparent;
}
.profile__infor .form-group .file-upload .custom-file label:hover {
  cursor: pointer;
}
.profile__infor .form-group .file-upload .custom-file label::after {
  display: none;
}
.profile__infor .form-group .file-upload input.btn-custom {
  background: #05fb24;
  color: #ffffff;
  border-radius: 1rem;
  width: 7rem;
  height: 2.5rem;
}
.profile__infor .form-group .file-upload input.btn-custom:hover {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  color: #ffffff;
}
.profile__infor .form-group .image-spotlight {
  width: 15rem;
  height: 15rem;
  border-radius: 9rem;
  border: 1px solid #24ff0a;
  overflow: hidden;
  margin-left: 23vw;
}
.profile__infor .form-group .image-spotlight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile__btn {
  padding: 2rem 0;
}
.profile__btn .btn-custom {
  margin-left: 26vw;
  width: 12rem;
  height: 3.5rem;
  border-radius: 0.7rem;
  color: #ffffff;
  background: linear-gradient(-32deg, #3fff00, #ff8d00);
  font-weight: bold;
  border-color: #05fb24;
}
.profile__btn .btn-custom:hover {
  cursor: pointer;
  background: linear-gradient(-32deg, #ff8d00, #3fff00);
}
.text-error {
  color: red;
  font-size: 13px;
  font-style: italic;
}
.width-100 {
  width: 100%;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.play-audio {
  margin: 2rem 0;
}
.none {
  display: none;
}
.border-none {
  border: none !important;
}
.padding-1rem {
  padding: 1rem;
}
.padding-2rem {
  padding: 2rem;
}
.datepicker {
  top: 265px !important;
  width: 250px;
}
.datepicker .datepicker-days .table-condensed {
  width: 100%;
}
