@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
.header .navbar {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  position: fixed;
  z-index: 1;
  width: 100%;
}
.header .navbar .navbar-brand {
  font-family: Roboto-Bold;
}
.header .navbar .collapse .navbar-nav .nav-item {
  border-right: 1px solid #ffffff;
  padding: 0 1rem;
}
.header .navbar .collapse .navbar-nav .nav-item:last-child {
  border: none;
}
.header .navbar .collapse .navbar-nav .nav-item .nav-link {
  color: #ffffff !important;
  font-weight: bold;
}
.header .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #05fb24 !important;
}
.header .navbar .collapse .navbar-nav .nav-item.dropdown .dropdown-menu {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  padding: 0;
}
.header .navbar .collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  padding: 1rem 1.5rem;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  font-weight: bold;
}
.header .navbar .collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: #05fb24;
}
.header .navbar .collapse .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:last-child {
  border: none;
}
.header .navbar .collapse .form-inline .input-custom {
  background: transparent;
  border: none;
  border-radius: unset;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}
.header .navbar .collapse .form-inline .input-custom:hover {
  cursor: pointer;
}
.header .navbar .collapse .form-inline .input-custom::placeholder {
  color: #ffffff;
}
.header .navbar .collapse .form-inline .btn-custom {
  background: transparent;
  color: #ffffff;
}
.header .navbar .collapse .form-inline .btn-custom:hover {
  color: #05fb24;
  cursor: pointer;
}
.carousel .carousel-inner .carousel-item img {
  width: 100% !important;
  height: 80vh;
  object-fit: cover;
}
.player {
  height: auto;
  width: 100%;
  background-color: #1E2125;
  user-select: none;
  font-family: 'Open Sans', sans-serif;
  filter: drop-shadow(20px 20px 10px black);
  border-radius: 15px;
}
.player .cover {
  width: 100%;
  text-align: center;
  align-items: center;
}
.player .cover__img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  border-radius: 15px;
}
.player .infor p {
  color: #BDBDBD;
}
.player .infor span {
  width: 100%;
}
.player .infor__singer-name {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff03f7;
  cursor: default;
  text-align: center;
}
.player .infor__composer-name {
  font-size: 18px;
  font-weight: 400;
  cursor: default;
  color: #ff7939ad;
  text-align: right;
  font-style: italic;
  padding-right: 1vw;
}
.player .infor__music-name {
  font-size: 30px;
  font-weight: 300;
  color: #62ff4fdb;
  cursor: default;
  padding: 0 2rem;
}
.player .infor .button-items {
  padding: 2rem 0.5rem;
}
.player .infor .button-items #slider {
  height: 7px;
  background: #4386a7c9;
  border-radius: 5px;
}
.player .infor .button-items #slider #elapsed {
  width: 10px;
  height: 7px;
  background: #9fef6d;
  border-radius: 5px;
}
.player .infor .button-items .count-down {
  padding: 0.5rem;
}
.player .infor .button-items .count-down #timer {
  margin-top: 5px;
  color: #04ff00;
  line-height: 15px;
  font-size: 15px;
  float: right;
}
.player .infor .button-items .controls {
  margin-top: 20px;
  text-align: center;
}
.player .infor .button-items .controls .expend {
  padding: 0.5px;
  cursor: pointer;
}
.player .infor .button-items .controls .expend svg:hover g polygon {
  fill: #EF6DBC;
}
.player .infor .button-items .controls .expend svg:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}
.player .infor .button-items .controls .expend .step-backward {
  width: 40px;
  height: 40px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  margin-bottom: 5px;
}
.player .infor .button-items .controls .expend .step-backward g polygon {
  fill: #FEFEFE;
}
.player .infor .button-items .controls .expend .step-backward g polygon:hover {
  fill: #EF6DBC;
  cursor: pointer;
}
.player .infor .button-items .controls .expend .step-foreward {
  width: 40px;
  height: 40px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  margin-bottom: 5px;
}
.player .infor .button-items .controls .expend .step-foreward g polygon {
  fill: #FEFEFE;
}
.player .infor .button-items .controls .expend .step-foreward g polygon:hover {
  fill: #EF6DBC;
  cursor: pointer;
}
.player .infor .button-items .controls #play {
  padding: 0 3px;
  width: 50px;
  height: 50px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
}
.player .infor .button-items .controls #play:hover {
  cursor: pointer;
}
.player .infor .button-items .controls #play:hover g {
  stroke: #8F4DA9;
  cursor: pointer;
}
.player .infor .button-items .controls #play:hover g path {
  fill: #9b59b6;
  cursor: pointer;
}
.player .infor .button-items .controls #play g {
  stroke: #FEFEFE;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
.player .infor .button-items .controls #play g path {
  fill: #FEFEFE;
}
.player .infor .button-items .controls #pause {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: -47px;
  margin-top: 5px;
  cursor: pointer;
}
.player .infor .button-items .controls #pause:hover .rect {
  fill: #8F4DA9;
}
.player .infor .button-items .controls #pause rect {
  fill: white;
}
.player hr {
  background: #00ff08;
}
.player hr.hr-top {
  max-width: 80%;
}
.player hr.hr-list {
  max-width: 85%;
  margin: 0 auto;
}
.player hr.hr-list:last-child {
  display: none;
}
.player .music {
  padding: 0 2rem;
  width: 100%;
}
.player .music .song-2 {
  height: 100px;
  align-items: center;
}
.player .music .song-2 .info {
  align-items: center;
}
.player .music .song-2 .info .img {
  width: 60px;
  height: 60px;
  background: red;
  margin-right: 10px;
  border-radius: 5px;
}
.player .music .song-2 .info .img.first {
  background: url(http://static.stereogum.com/blogs.dir/2/files/2011/12/Adele-21.jpg) center center;
  background-size: cover;
}
.player .music .song-2 .info .img.second {
  background: url(https://upload.wikimedia.org/wikipedia/en/d/df/RedHotChiliPeppersCalifornication.jpg) center center;
  background-size: cover;
}
.player .music .song-2 .info .img.third {
  background: url(http://images.rapgenius.com/59fc635f7dbe6b5cd1e07e5e605c96b5.640x640x1.jpg) center center;
  background-size: cover;
}
.player .music .song-2 .info .img.fourth {
  background: url(http://djrichiep.us/wp-content/uploads/2014/06/princelgc7F.jpg) center center;
  background-size: cover;
}
.player .music .song-2 .info .titles h5,
.player .music .song-2 .info .titles p {
  margin: 0;
  color: white;
}
.player .music .song-2 .info .titles h5 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 7px;
}
.player .music .song-2 .info .titles p {
  font-size: 13px;
  color: #929292;
}
.player .music .song-2 .state {
  text-align: center;
}
.player .music .song-2 .state i {
  color: #ddd;
}
.profile {
  padding-top: 6rem;
}
.profile__title h1 {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}
.profile__title h6 {
  font-style: italic;
  text-align: right;
  padding: 0.5rem;
}
.profile__title h6 span {
  color: #05fb24;
}
.profile__infor .form-group {
  width: 100%;
}
.profile__infor .form-group label {
  font-weight: bold;
  padding: 0.6rem 0;
  margin: 0;
}
.profile__infor .form-group input {
  background: transparent;
  border: none;
  border-radius: unset;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  padding-left: 0.5rem;
  width: 100%;
}
.profile__infor .form-group input:hover {
  cursor: pointer;
}
.profile__infor .form-group input::placeholder {
  color: #ffffff;
}
.profile__infor .form-group .avatar {
  margin-left: 1rem;
}
.profile__infor .form-group .file-upload {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ffffff;
  margin: 0;
}
.profile__infor .form-group .file-upload .custom-file {
  padding-left: 1.5rem;
}
.profile__infor .form-group .file-upload .custom-file input {
  display: none;
}
.profile__infor .form-group .file-upload .custom-file label {
  font-weight: unset;
}
.profile__infor .form-group .file-upload .custom-file label:hover {
  cursor: pointer;
}
.profile__infor .form-group .file-upload input.btn-custom {
  background: #ffffff;
  color: #000000;
  border-radius: 1rem;
  width: 7rem;
  height: 2.5rem;
}
.profile__infor .form-group .file-upload input.btn-custom:hover {
  background: #05fb24;
  color: #ffffff;
}
.profile__infor .form-group .image-spotlight {
  width: 25rem;
  height: 15rem;
  border-radius: 1.5rem;
  border: 1px solid #ffffff;
  overflow: hidden;
  margin-left: 19.5vw;
}
.profile__infor .form-group .image-spotlight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile__btn {
  padding: 2rem 0;
}
.profile__btn .btn-custom {
  margin-left: 26vw;
  width: 12rem;
  height: 3.5rem;
  border-radius: 0.7rem;
  color: #ffffff;
  background: linear-gradient(-32deg, #3fff00, #ff8d00);
  font-weight: bold;
  border-color: #ffffff;
}
.profile__btn .btn-custom:hover {
  cursor: pointer;
  background: linear-gradient(-32deg, #ff8d00, #3fff00);
}
.category {
  padding-top: 8rem;
}
.footer {
  background-image: url("../images/footer.jpg");
  background-size: cover;
  margin-top: 2rem;
}
.footer .container > .row {
  padding: 4rem 2rem;
}
.footer .container > .row .img-logo {
  width: 70%;
  height: 80px;
  object-fit: cover;
  padding-bottom: 0.5rem;
}
.footer .container > .row .introduce {
  margin: 0;
  padding: 1rem 0;
  text-align: justify;
}
.footer .container > .row .infor {
  margin: 0;
  padding-top: 0.5rem;
}
.footer .container > .row .infor a {
  padding: 0 0.4rem;
  color: #ffffff;
}
.footer .container > .row .infor a:hover {
  color: #05fb24;
}
.footer .container > .row .co-founder,
.footer .container > .row .music-type,
.footer .container > .row .register {
  padding: 1rem;
}
.footer .container > .row .co-founder p,
.footer .container > .row .music-type p,
.footer .container > .row .register p {
  margin: 0;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.footer .container > .row .co-founder a:hover,
.footer .container > .row .music-type a:hover,
.footer .container > .row .register a:hover {
  text-decoration: none;
}
.footer .container > .row .co-founder a p,
.footer .container > .row .music-type a p,
.footer .container > .row .register a p {
  margin: 0;
  padding: 0.2rem 0;
  font-size: 1rem;
}
.footer .container > .row .co-founder a p {
  font-weight: 700;
}
.footer .container > .row .co-founder a p:hover {
  font-style: italic;
}
.footer .container > .row .co-founder a p:hover .span-first,
.footer .container > .row .co-founder a p:hover .span-second {
  color: #ff2e19;
}
.footer .container > .row .co-founder a p .span-first {
  color: #ff2e19;
}
.footer .container > .row .co-founder a p .span-second {
  color: #ffffff;
}
.footer .container > .row .music-type a p {
  color: #ffffff;
  font-weight: 100;
}
.footer .container > .row .music-type a p:hover {
  color: #05fb24;
}
.text-error {
  color: red;
  font-size: 13px;
  font-style: italic;
}
.width-100 {
  width: 100%;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.play-audio {
  margin: 2rem 0;
}
.none {
  display: none;
}
.border-none {
  border: none !important;
}
.bg-gradient-primary {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  color: black;
}
.datepicker {
  top: 200px !important;
  width: 300px;
}
.datepicker .datepicker-days .table-condensed {
  width: 100%;
}
.datepicker .datepicker-days .table-condensed tbody tr td.active {
  background-image: linear-gradient(to bottom, #cc00a945, #cc00bc);
}
.login100-form .validate-label {
  width: 100%;
  padding: 0 1rem 1.5rem 1rem;
}
.login100-form .validate-label .text-error {
  font-size: 15px;
}
.login100-form .signup-custom {
  margin-top: 1rem;
  width: 100%;
}
.login100-form .signup-custom .btn {
  width: 200px;
  height: 60px;
  border-radius: 30px;
}
.login100-form .signup-custom a {
  line-height: 40px;
}
body {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  color: #ffffff;
  font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
}
body .container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}
