@background: linear-gradient(-135deg, #c850c0, #4158d0);
@color: #ffffff;

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@fontFamily: Roboto-Regular, Arial, Helvetica, sans-serif;

body {
    background: @background;
    color: @color;
    font-family: @fontFamily;

    .container {
    }

    .container-fluid {
        padding: 0 !important;
        margin: 0 !important;
    }
}

.header {
    .navbar {
        background: @background;

        .navbar-brand {
            font-family: Roboto-Bold;
        }

        a {
            color: @color !important;
        }
    }

    .slide {
        .carousel-inner {
            .carousel-item {
                img {
                    width: 100% !important;
                    height: 600px;
                    object-fit: cover
                }
            }
        }
    }
}

.footer {
}

.text-error {
    color: red;
    font-size: 13px;
    font-style: italic;
}
