@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
body {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  color: #ffffff;
  font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
}
body .container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}
body .container-fluid .header .navbar {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
body .container-fluid .header .navbar .navbar-brand {
  font-family: Roboto-Bold;
}
body .container-fluid .header .navbar a {
  color: #ffffff !important;
}
body .container-fluid .header .slide .carousel-inner .carousel-item img {
  width: 100% !important;
  height: 600px;
  object-fit: cover;
}
